<!DOCTYPE html>
<html>
<head>
  <title>Urlshortener</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Custom Fonts -->
  	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Give+You+Glory|Poiret+One|PT+Mono|Gochi+Hand|Righteous|Comfortaa:400,700,300|Boogaloo|Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
</head>
<body>

<%= render 'layouts/nav' %>
<%= yield %>
<%= render 'layouts/footer' %>

</body>
</html>
